#Usuário cadastrado préviamente
TEST_USER_NAME=
TEST_USER_EMAIL=
TEST_USER_PASSWORD=

#Usuário alternativo cadastrado préviamente
TEST_USER_NAME_ALTERNATIVE=
TEST_USER_EMAIL_ALTERNATIVE=
TEST_USER_PASSWORD_ALTERNATIVE=